alabaster==0.7.8
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
bs4==0.0.1
cycler==0.10.0
decorator==4.0.9
docutils==0.12
imagesize==0.7.1
ipython==7.16.3
ipython-genutils==0.1.0
Jinja2>=2.8.1
lxml==4.6.3
MarkupSafe==0.23
matplotlib==1.5.1
nltk>=3.4.5
numpy==1.11.0
pandas==0.18.1
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
Pygments==2.7.4
pyparsing==2.1.1
python-dateutil==2.5.3
pytz==2016.4
requests>=2.20.0
scikit-learn==0.17.1
scipy==0.17.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.4.1
traitlets==4.2.1
